<?xml version="1.0"?>
<!--
The MIT License

Copyright (c) 2019 Giovanni di Dio Bruno https://gbr1.github.io

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
-->
<launch>
    <!-- standard robot -->
    <include file="$(find erwhi_bringup)/launch/bringup.launch" />

    <!-- detection -->
    <node name="object_detection" pkg="ros_openvino" type="object_detection" output="screen">
        <remap from="/object_detection/input_image" to="/camera/color/image_raw" />
        <remap from="/object_detection/input_depth" to="/camera/aligned_depth_to_color/image_raw" />
        <remap from="/object_detection/camera_info" to="/camera/aligned_depth_to_color/camera_info" />
        <param name="threshold"         value="0.5" />
        <param name="target"            value="MYRIAD" />
        <param name="model_network"     value="$(find ros_openvino)/models/FP16/mobilenet-ssd/mobilenet-ssd.xml" />
        <param name="model_weights"     value="$(find ros_openvino)/models/FP16/mobilenet-ssd/mobilenet-ssd.bin" />
        <param name="model_labels"      value="$(find ros_openvino)/models/FP16/mobilenet-ssd/mobilenet-ssd.labels" />
        <param name="model_colors"      value="$(find ros_openvino)/models/FP16/mobilenet-ssd/mobilenet-ssd.colors" />
        <param name="output_as_image"   value="true" />
        <param name="output_as_list"    value="true" />
    </node>

    <!-- upboard led -->
    <include file="$(find erwhi_remars_2019)/launch/led.launch" />

    <!-- autonomous navigation -->
    <node pkg="explore_lite" type="explore" name="explore" output="screen" respawn="true" respawn_delay="300">
        <param name="robot_base_frame" value="base_footprint"/>
        <param name="costmap_topic" value="rtabmap/grid_map"/>
        <!--<param name="costmap_updates_topic" value="rtabmap/grid_map"/>-->
        <param name="visualize" value="true"/>
        <param name="planner_frequency" value="0.33"/>
        <param name="progress_timeout" value="30.0"/>
        <param name="potential_scale" value="3.0"/>
        <param name="orientation_scale" value="0.0"/>
        <param name="gain_scale" value="1.0"/>
        <param name="transform_tolerance" value="0.3"/>
        <param name="min_frontier_size" value="0.01"/>
    </node>


    <!-- gamepad -->
    <include file="$(find erwhi_remars_2019)/launch/remote.launch" />

    <!-- rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find erwhi_remars_2019)/rviz/monitor.rviz" />

    <!-- aws -->
    <include file="$(find cloudwatch_metrics_collector)/launch/sample_application.launch" />
    <node pkg="erwhi_remars_2019" type="cloudwatch_log" name="cloudwatch_collector" />


</launch>